name: create_release

on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    # Check if the build workflow that just finished was triggered by a tag
    # Only run if the 'build' workflow was successful AND it was triggered by a tag
    if: >
      github.event.workflow_run.conclusion == 'success' && 
      startsWith(github.event.workflow_run.head_branch, 'v')
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          body_path: CHANGELOG.txt