name: create_release

on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed

  push:
    tags:
      - 'v*'

jobs:
  release:
    if: >
      (github.event_name == 'push' && github.ref_type == 'tag') ||
      (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success')
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: CHANGELOG.txt