env:
  DOCKER_IMAGE_NAME: my-image
  DOCKER_REGISTRY: myregistry.mydomain.com

name: deploy

on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    # Only run if CI succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: CD pipeline triggered
        run: echo "CD pipeline running because CI succeeded!"
